<!DOCTYPE html>
<html>
    <head>
        <title><%= heading %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/add_product.css">
    </head>
    <body>
        <div>
            <div class="innerDiv container">
                <a href="/admin/backAdminSession"><button>Go to Admin page</button></a>
                <img src="../assets/images/logo.JPG"><img>
                <!-- form tag which sends admin entered product details to create product route -->
                <form action="/admin/createProduct" method="POST" class="row">
                    <input name="name" type="text" class="col-10" placeholder="Enter product name" maxlength="20" required>
                    <input name="price" type="number" class="col-10" placeholder="Enter price" required>
                    <input name="rating" type="number" class="col-10" placeholder="Enter rating" required min="1" max="5">
                    <input name="stock" type="number" class="col-10" placeholder="Enter availability" required>
                    <input name="category" type="text" class="col-10" placeholder="Enter category" required>
                    <input name="product_img" type="text" class="col-10" placeholder="Enter product image name with extension" required>
                    <button class="col-10">Add Product</button>
                </form>
                
            </div>
        </div>

    
    </body>
</html>
