body {
  margin: auto;
  display: flex;
  justify-content: center;
  background-image: url("../images/background.png");
  font-family: monospace;
  font-size: larger; }

.innerDiv {
  position: relative;
  top: 60px;
  height: auto;
  width: auto;
  margin: auto 10px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: whitesmoke 0px 0px 10px; }

.innerDiv img {
  display: block;
  width: 30%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: white 0px 0px 25px;
  border-radius: 15px; }

input {
  display: block;
  height: 40px;
  border-radius: 5px;
  border: 2px solid lightblue;
  margin: auto;
  margin-bottom: 20px; }

button {
  display: block;
  margin: auto;
  height: 40px;
  margin-bottom: 20px;
  border: 2px solid lightblue;
  border-radius: 5px;
  font-weight: 300;
  background-color: transparent;
  transition: all .3s;
  color: white;
  box-shadow: whitesmoke 0px 0px 10px; }

button:hover {
  background-color: whitesmoke;
  box-shadow: whitesmoke 0px 0px 25px;
  color: black; }

@media screen and (max-width: 700px) {
  .innerDiv {
    position: relative;
    top: 50%; } }
